<div class="row">
  <div *ngFor="let ev of eventsbyTeam">
    <div class="col">
    <div class="jumbotron bg-info" style="width: 25rem;">
        <!--<h1 class="display-4">{{ev.strEvent}}</h1>-->
        <div *ngIf="ev.strThumb != null; else elseBlock">
            <img [src]="ev.strThumb" class="img-fluid">
        </div>
        <ng-template #elseBlock>
          <h3 class="text-center">{{ev.strEvent}}</h3>
        </ng-template>
        <h2 class="lead text-center">{{ev.dateEvent}}</h2>
        <div *ngIf="date > ev.dateEvent; else blockese">
          <a [routerLink]="['/event', ev.idEvent  , 'details']" class="btn btn-dark btn-block"> Details </a>
        </div>
        <ng-template #blockese></ng-template>

    </div>

</div>


</div>

<!---
  <div class="row">
    <div class="col">
      <table class="table table-sm table-dark table-responsive table-bordered">
      <thead>
        <th>Event</th>
        <th>Date</th>
        <th>Round</th>
        <th>Home Score</th>
        <th>Goal Details</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
        <th>Away Score</th>
        <th>Goal Details</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
      </thead>
      <tbody>
        <tr *ngFor="let ev of eventsbyTeam">
          <td>{{ev.strEvent}}</td>
          <td>{{ev.dateEvent}}</td>
          <td>{{ev.intRound}}</td>
          <td>{{ev.intHomeScore}}</td>
          <td>{{ev.strHomeGoalDetails}}</td>
          <td>{{ev.strHomeRedCards}}</td>
          <td>{{ev.strHomeYellowCards}}</td>
          <td>{{ev.intAwayScore}}</td>
          <td>{{ev.strAwayGoalDetails}}</td>
          <td>{{ev.strAwayRedCards}}</td>
          <td>{{ev.strAwayYellowCards}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->
